<h1>Simple Customer Management App (in Express)</h1>


<div class="row">
    <ul class="nav nav-pills">
        
        
    
    <li><a href="/customers/">Customer List</a></li>
    <li><a href="/customers/add/">Add New Customer</a></li>
    </ul>
</div>